.main {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main__top {
  min-height: 576px;
  background-image: url('../../images/Main/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__search-result {
  background: #F5F6F7;
  min-height: fit-content;
}

@media screen and (max-width: 800px) {
  .main__top {
    min-height: 400px;
    background-image: url('../../images/Main/tab/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg');
  }
}

@media screen and (max-width: 770px) {
  .main__top {
    background-image: url('../../images/Main/tab/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg');
  }
}


@media screen and (max-width: 610px) {
  .main__top {
    min-height: 536px;
    height: 536px;
}
}

@media screen and (max-width: 330px) {
  .main__top {
    background-image: url('../../images/Main/mobile/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg');
  }
}
