.savednews {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .savednews {
    max-width: 768px;
  }
}

@media screen and (max-width: 550px) {
  .savednews {
    max-width: 320px;
  }
}
