.searchform {
  color:white;
  min-height: 496px;
  box-sizing: border-box;
  padding-top: 80px;
}

.searchform__article {
  margin: 0 auto;
  max-width: 608px;
}

.searchform__title {
  font-family: 'Roboto Slab', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 60px;
  line-height: 64px;
  min-height: 128px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 32px;
}

.searchform__text {
  font-family: 'Roboto', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 18px;
  line-height: 24px;
  min-height: 48px;
  max-width: 545px;
  padding: 0;
  margin: 0 0 64px 0;
}

@media screen and (max-width: 800px) {
  .searchform {
    min-height: 335px;
    padding-top: 38px;
  }

  .searchform__article {
    max-width: 452px;
  }

  .searchform__title {
    margin: 0 0 16px 0;
    font-size: 36px;
    line-height: 40px;
    min-height: 80px;
    max-width: 380px;
  }

  .searchform__text {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 48px 0;
  }
}
  
@media screen and (max-width: 480px) {
  .searchform {
    min-height: 480px;
    padding-top: 30px;
  }

  .searchform__article {
    max-width: 288px;
  }

  .searchform__title {
    max-width: 285px;
  }

  .searchform__text {
    min-height: 72px;
    max-width: 288px;
    margin: 0 0 122px 0;
  }
}
