.success-form {
  margin: auto;
  background-color: white;
  color: black;
  max-width: 430px;
  width: 430px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  min-height: 182px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 43px 36px 14px 36px;
  position: relative;
}

.success-form__title {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 14px;
}

.success-form__reset {
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent url('../../../images/Popups/close40.svg') no-repeat center top;
}

.success-form__reset:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* .success-form__link-container {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: black;
} */

.success-form__link {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #2F71E5;
}
